@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

.navbar-top {
  margin: 0px;
  padding: 0px 60px;
  font-size: 12px;
}

.navbar-top a {
  text-decoration: none;
  color: black;
}

.navbar-top-left li {
  float: left;
  padding: 0px 15px 0px 0px;
}

.navbar-top-right li {
  float: right;
  padding: 0px 0px 0px 15px;
}

.navbar-bottom {
  float: left;
  margin-left: 25%;
  margin-bottom: 70px;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 10px 15px;
  font-size: 15px;
  border: none;
}

.dropbtn:hover {
  background-color: cadetblue;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  background-color: white;
}

.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.dropdown-content a:hover {
  background-color: #ddd;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.wrapper {
  display: flex;
}

.line {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0px 60px;
}

.line-container {
  width: 100%;
}

.text {
  width: 35%;
  text-align: center;
}

.img-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer a {
  color: white;
  line-height: 2;
}

footer a:hover {
  color: white;
}
